* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

nav {
  background-color: black;
  text-align: center;

  & .logo {
    & a {
      color: white;
      text-decoration: none;
    }
  }

  & .menu {
    & li {
      margin: 0.5rem 0;
      & a {
        color: white;
        text-decoration: none;
      }
      & a::after {
        content: "";
        width: 0%;
        height: 2px;
        display: block;
        background-color: white;
      }
      & a:hover::after {
        width: 100%;
        transition: all 0.5s;
      }
    }
  }
}

.hamburger {
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(295deg)
    brightness(109%) contrast(94%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

header {
  text-align: center;
}

.text-overlay {
  margin: 1rem 0;
  color: black;

  & span {
    font-size: 2rem;
    font-weight: 600;
  }

  & button {
    font-size: 0.75rem;
    padding: 1rem;
    color: black;
    background-color: transparent;
    border-color: black;
    border-radius: 0.5rem;
    border: 0.1rem;
    padding: 0.5rem;
    border-style: solid;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  & button:hover {
    background-color: black;
    color: white;
    border-color: black;
  }
}

.showproduct {
  text-align: center;
  margin: 3rem 0;
}

.roundcorner {
  border-radius: 0.75rem;
}

.text-head {
  padding: 1rem 0 0 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

& .size-icon {
  height: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

@media screen and (min-width: 600px) {
  /* for desktop */
  .hamburger {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
  nav {
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      margin-left: 1rem;
      height: 3rem;
    }

    & .menu {
      display: flex;
      list-style: none;
      font-size: 1.1rem;

      & li {
        margin-right: 2.5rem;
      }
    }
  }

  header {
    text-align: left;
  }

  .pichead {
    position: relative; /* Sets the container for positioning */
  }

  .text-overlay {
    position: absolute; /* Positions text absolutely within container */
    top: 20%; /* Adjusts the top position of the text */
    left: 7%;
    /* transform: translateX(-110%); */
    font-size: 3rem;
    color: white;

    & span {
      font-size: 4rem;
    }

    & button {
      font-size: 1.5rem;
      padding: 1rem;
      color: white;
      border-color: white;
      border-radius: 1rem;
    }

    & button:hover {
      background-color: white;
      color: #83bedc;
      border-color: white;
    }
  }
  .text-head {
    font-size: 3rem;
  }

  .contact {
    margin-bottom: 1rem;
  }
  & .icon {
    margin: 1rem 1rem;
  }
  & .size-icon {
    height: 3rem;
  }

  .arrange {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  /* for mobile */

  .menu {
    display: none;
  }

  .arrange {
    display: contents;
  }
  nav {
    display: flex;
    height: 2.5rem;
  }

  .logo {
    height: 2rem;
    margin: auto 1rem;
  }

  .hamburger {
    margin: auto 0;
    /* padding-left: 18rem; */
    position: absolute;
    right: 1.6rem;
    top: 7.5px;
  }

  .menu-mobile {
    width: 50%;
    background-color: black;
    text-align: right;
    list-style: none;
    position: absolute; /*  */
    right: 0;
    padding-right: 1rem;

    & li {
      margin: 0.75rem;
    }

    & a {
      text-decoration: none;
      color: white;
    }
  }

  .text-overlay {
  color: #83bedc;

  & button {
  color: #83bedc;

  }

  }

  .icon {
    margin: 1rem 0.5rem 0 0.5rem;
  }
}
