* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.text-head {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.text-subhead {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
@media screen and (min-width: 600px) {
  /* for desktop */

  * {
    color: #83bedc;
  }
  .text-overlay {
    & span {
      color: white;

    }
  }
}

@media screen and (max-width: 600px) {
  /* for mobile */
  * {
    color: #83bedc;
  }
  .text-subhead {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
  }

  .text-head {
    font-size: 2rem;
    margin: 0;
  }
}
